<div class="login-page">
  <div class="login-spacer"></div>
  <div class="login-container">
    <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 class="card-heading">
      Okta Implicit Flow with Custom UI
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <mat-form-field >
        <input type="email" matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type='password' placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="buttons">
        <div class="login">
          <button type="submit" mat-raised-button color="primary">Log in</button>
        </div>
        <div class="register">
          <button mat-raised-button color="primary">Register</button>
          <button mat-button color="primary">Forgot Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
