<mat-card>
    <mat-card-title>
        <a mat-raised-button color="primary" routerLink="/login" matTooltip="To Login Page">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <span class="profile-header">Create Auth Profile</span></mat-card-title>
    <mat-card-content>
        <form [formGroup]="profileForm" class="auth-form">
            <mat-form-field class="form-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <mat-label>Oidc Client Id</mat-label>
                <input matInput placeholder="0oam5zkpp9nqUwpq0356" formControlName="clientId">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <mat-label>Oidc Issuer</mat-label>
                <input matInput placeholder="https://dev-875318.okta.com/oauth2/default" formControlName="issuer">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <mat-label>Oidc Scope</mat-label>
                <input matInput placeholder="openid profile email" formControlName="scope">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <mat-label>Okta url (Optional)</mat-label>
                <input matInput placeholder="https://dev-875318.okta.com/api/v1/authn" formControlName="oktaUrl">
                <mat-hint>For custom login form</mat-hint>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <mat-label>Federated IdP Key</mat-label>
                <input matInput placeholder="" formControlName="fedIdPKey">
                <mat-hint>"idp" for okta, "idp_hint" for keycloak</mat-hint>
            </mat-form-field>

            <div class="federated-idps-header">
                <!-- <h2>Federated IdP Entries</h2> -->
                <h3>Federated IdP Entries</h3>
                <button mat-raised-button color="primary" (click)="addFederatedIdp($event)">Add Federated IdP
                    entries</button>
            </div>

            <ng-container formArrayName="federatedIdps">
                <div *ngFor="let control of federatedIdps.controls; index as i" class="fed-idp-form-group">
                    <ng-container [formGroupName]="i">
                        <mat-form-field class="fed-idp-form-control">
                            <mat-label>Display Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="fed-idp-form-control">
                            <mat-label>Id</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                        <button mat-raised-button (click)="removeFederatedIdp(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </form>
        <button mat-raised-button color="primary" (click)="addProfile()">Add Profiles</button>
    </mat-card-content>
</mat-card>
<div class="profiles-container">
    <h2>Auth Profiles</h2>
    <div *ngIf="!profileData.selected"><mat-icon color="warn" inline="true">warning</mat-icon>No Profile Selected</div>
    <div *ngIf="profileData && profileData.profiles.length === 0">
        No profile created
    </div>
    <div *ngFor="let profile of profileData.profiles; index as pi">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4 [class.activeProfile]="profileData.selected === profile.id">
                        {{ profile.name }} {{ profileData.selected === profile.id ? '(Active)': '' }}
                    </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="profile-container">
                <div class="profile-label">Client Id</div>
                <div>{{ profile.oidc.clientId }}</div>
            </div>
            <div class="profile-container">
                <div class="profile-label">Issuer</div>
                <div>{{ profile.oidc.issuer }}</div>
            </div>
            <div class="profile-container">
                <div class="profile-label">Scope</div>
                <div>{{ profile.oidc.scope }}</div>
            </div>
            <div *ngIf="profile.oktaUrl" class="profile-container">
                <div class="profile-label">Okta url</div>
                <div>{{ profile.oktaUrl }}</div>
            </div>
            <div class="profile-container">
                <div class="profile-label">Federated IdP Key</div>
                <div>{{ profile.fedIdPKey }}</div>
            </div>
            <h4>Federated Idps</h4>
            <div *ngFor="let federatedIdp of profile.federatedIdps; index as i">
                <div class="profile-container">
                    <div class="profile-label">Display Name</div>
                    <div>{{ federatedIdp.name }}</div>
                </div>
                <div class="profile-container">
                    <div class="profile-label">Id</div>
                    <div>{{ federatedIdp.id }}</div>
                </div>
            </div>
            <mat-action-row>
                <button mat-raised-button color="primary" (click)="select(profile)">Select As Profile</button>
                <button mat-raised-button color="primary" (click)="delete(pi, profile)">Delete Profile</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div>
</div>
