<mat-card>
  <mat-card-header>
    <mat-card-title>Key Management</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Id Token</h2>
    <h4>Expiration</h4>
    <p *ngIf="idToken">
      Total Expiration = {{ (idToken.exp - idToken.iat) }} seconds
    </p>
    <p *ngIf="idToken">
      Expired in = {{ idToken.exp - currentTime }} seconds
    </p>
    <h4>Plain</h4>
    <p *ngIf="idTokenString">
      {{ idTokenString }}
    </p>
    <h4>Base64 Decode</h4>
    <pre *ngIf="idToken">{{ idToken | json }}</pre>
    <mat-divider></mat-divider>
    <h2>Access Token</h2>
    <h4>Expiration</h4>
    <p *ngIf="accessToken">
      Total Expiration = {{ (accessToken.exp - accessToken.iat) }} seconds
    </p>
    <p *ngIf="accessToken">
      Expired in = {{ accessToken.exp - currentTime }} seconds
    </p>
    <h4>Plain</h4>
    <p *ngIf="accessToken">
      {{ accessTokenString }}
    </p>
    <h4>Base64 Decode</h4>
    <pre *ngIf="accessToken">{{ accessToken | json }}</pre>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="renew()" mat-raised-button color="primary">Renew Token</button>
  </mat-card-actions>
</mat-card>